<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/user" method="post">
        email: <input type="email" name="email" id="email" required><br>
        password: <input type="password" name="password" id="pw" required><br>
        confirm password: <input type="text" name="cPassword" id="cpw" required><br>
        name: <input type="text" name="name" id="name" required><br>
        longitude: <input type="number" name="x" id="x" required><br>
        largetude: <input type="number" name="y" id="y" required><br>
        <input type="submit" value="add">
    </form>
</body>
</html>