{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row" id="loginContainer">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-danger" role="alert" id="alertBox">
            </div>
            <form action="/user" method="post">
                <div class="row border m-3 py-3">
                    <div class="col-md-3 py-2">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-md-9 py-2">
                        <input type="email" name="email" id="email" class="form-control" required>
                    </div>
                    <div class="col-md-3 py-2">
                        <label for="password">password</label>
                    </div>
                    <div class="col-md-9 py-2">
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>
                    <div class="col-md-2 offset-md-5 py-3 py-2">
                        <button class="btn btn-primary" onclick="login(event)">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3" id="shopsContainer">
            
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super()}}
<script>
//$(document).ready(function(){
$('#alertBox').hide()
function verifylogIn()
{
    if(Cookies.get('authToken') == undefined )
    {
        $('#loginContainer').show()
        $('#shopsContainer').hide()
        $('#signinBtn').show()
        $('#signupBtn').show()
        $('#loggedin').hide()
    }
    else
    {
        $('#loginContainer').hide()
        $('#shopsContainer').show()
        $('#signinBtn').hide()
        $('#signupBtn').hide()
        $('#loggedin').show()
        getShopsData();
    }
}
verifylogIn()
//})
function login(event)
{
    event.preventDefault();
    email = $('#email').val();
    password = $('#password').val();

    $.ajax(
    {
        url: "/home",
        type: "POST",
        data: { 
            email: email ,
            password: password
        },
        success: function (response) 
        {
            if (response.message != null)
            {
                $('#alertBox').text(response.message)
                $('#alertBox').show()
            }
            else
            {
                Cookies.set('authToken', response.token)
                //send request to get shops
                $('#loginContainer').hide()
                $('#shopsContainer').show()
                //$('#shopsContainer').text(response.token)
                verifylogIn()
                getShopsData();
                //show shops
            }
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            console.log(textStatus, errorThrown);
        }
        //headers: {"accessToken": "test-value"}
    });
}

function getShopsData()
{
    token = Cookies.get('authToken')
    $.ajax(
    {
        url: "/shop",
        type: "GET",
        headers: {"accessToken": token},
        success: function (response) 
        {
            if (response.message != null)
            {
                $('#alertBox').text(response.message)
                $('#alertBox').show()
            }
            else
            {
                $('#loginContainer').hide()
                $('#shopsContainer').show()
                data = response['shops']
                $('#shopsContainer').text("")
                data.forEach(shop => {
                    $('#shopsContainer').append(
                        '<div class="row border my-2 align-items-center">'+
                            '<div class="col-md-3 border-right">'+
                                '<img class="img-fluid rounded float-left" src="{{ url_for("static", filename="img/shop.png") }}">'+
                            '</div>'+
                            '<div class="col-md-7 border-right">'+
                                '<div class="row border-bottom">'+
                                    '<div class="col-md-12 py-2">'+
                                        shop.name+
                                    '</div>'+
                                '</div>'+
                                '<div class="row">'+
                                    '<div class="col-md-12 py-2">'+
                                        shop.shopType+' | '+shop.position+' km away'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                            '<div class="col-md-2">'+
                                '<button class="btn btn-primary" onclick=like('+shop.id+',this)>Like</button>'+
                            '</div>'+
                        '</div>'+
                    '</div>'
                    )
                });
                //$('#shopsContainer').text(JSON.stringify(response))
            }
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            console.log(textStatus, errorThrown);
        }
    });
}

function like(shopId,button)
{
    $(button).prop("disabled",true);
    token = Cookies.get('authToken')
    $.ajax(
    {
        url: "/like",
        type: "POST",
        data:{
            shopId:shopId
        },
        headers: {"accessToken": token},
        success: function (response) 
        { 
            $(button).parent().parent().hide(300)
            $(button).parent().parent().remove(300)
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            console.log(textStatus, errorThrown);
        }
    })
}

</script>
{% endblock %}
